<a href="#" class="all-links">Back to all boards</a>

<h2><%= board.escape('title') %></h2>

<p class="create-list"><a href="#" class="add-new">Create New List</a></p>

<ul class="list">

</ul>

<button class="delete-board">Delete this board</button>
